@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}
.nav1 {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 0px 30px;
  margin-bottom: 0px;
}
.btn-login {
  font-family: "Outfit";
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #29abe2;
  border-radius: 3px;
  padding: 12px 20px;
}
.btn-login:hover {
  background-color: #29abe2;
  color: white;
}
.btn-start {
  font-family: "Outfit";
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #29abe2;
  border-radius: 3px;
  color: white;
  padding: 12px 20px;
  border: 1px solid #29abe2;
}
.btn-start:hover {
  background-color: transparent;
  border: 1px solid #29abe2;
}
.customer_support {
  background-color: #192c57;
  color: white;
  text-align: center;
  padding: 25px 0px;
}
.customer_support h1 {
  font-family: "Outfit";
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
}
.customer_support h3 {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
/* .actions{
    padding: 40px 0px;
} */
.actions_div {
  border: 1px solid #29abe2;
  color: #29abe2;
  margin: 15px 0px;
  padding: 15px 0px;
  text-align: center;
  border-radius: 5px;
}
.actions_div a {
  color: #29abe2;
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.contact {
  padding: 50px 0px;
}
.contactsDiv {
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 20px;
}
.contactsDiv i {
  color: #29abe2;
  font-size: 24px;
}
.contactsDiv span {
  font-size: 16px;
  font-weight: 500;
}
.contact-img {
  height: 160px;
  width: 160px;
}
.contactsDiv svg {
  width: 20%;
}
.h11 {
  font-size: 34px;
  font-weight: 500;
  font-family: "Outfit";
}
.h33 {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  color: #29abe2;
}
@media (max-width: 991px) {
  .actions {
    padding-top: 30px;
  }
  .actions h3 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* .contactsDiv svg{
        width: 10%;
    } */
  /* .contactsDiv h3{
        text-align: center;
    }
    .contactss{
        text-align: center;
        justify-content: center;
    } */
}
/* Other Page Sections */
.criteria {
  padding: 60px 0px;
}
.critera_card {
  background-color: white;
}
.card_2 {
  background-color: #4ddffd !important;
}
.card_head {
  background-color: #192c57;
  color: white;
  padding: 30px 0px;
  box-shadow: 1px 3px 7px;
  clip-path: polygon(
    50% 0%,
    100% 15%,
    100% 43%,
    100% 100%,
    73% 100%,
    33% 100%,
    0% 100%,
    0% 43%,
    0% 15%
  );
}
.card_head p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0px;
}
.card_bdy {
  box-shadow: 1px 3px 7px;
  padding: 0px 25px;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 245px;
}
.card_bdy p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.eligiblty_calculator {
  background-color: rgba(1, 179, 228, 0.05);
  padding: 50px 0px;
}
.eligiblty_calculator .cal {
  border-bottom: 2px solid #ff7e55;
  width: fit-content;
  margin-bottom: 15px;
}
.eligiblty_calculator h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  width: fit-content;
}
.eligiblty_calculator h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
}
.eligiblty_calculator p {
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: justify;
}
.apli-button {
  text-align: center;
  font-size: 20px;
  background-color: #192c57;
  color: white;
  width: 370px;
  height: 60px;
  border: 1px solid #192c57;
  margin: 25px 0px;
  border-radius: 10px;
}
.apli-button:hover {
  background: transparent;
  color: #192c57;
}
.apli-button2 {
  text-align: center;
  font-size: 20px;
  background-color: #192c57;
  color: white;
  width: 370px;
  height: 60px;
  border: 1px solid #192c57;
  margin-top: 25px;
  border-radius: 10px;
}
.apli-button2:hover {
  background: transparent;
  color: #192c57;
}
.apli-button-1 {
  background-color: #29abe2;
  color: white;
  width: 370px;
  height: 60px;
  border: 1px solid #29abe2;
  border-radius: 10px;
  font-size: 20px;
}
.apli-button-1:hover {
  background: transparent;
  color: #29abe2;
}
.apli-buttonn {
  background-color: transparent;
  color: #192c57;
  width: 370px;
  height: 60px;
  border: 1px solid #192c57;
  border-radius: 10px;
  margin: 25px 0px;
  font-size: 22px;
}
.apli-buttonn:hover {
  background: #192c57;
  color: white;
}
.btn-aplii {
  width: fit-content;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .img-applic-content {
    margin-top: 30px;
  }
  .img-applci {
    text-align: center;
  }
  .cal2 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.suppot {
  margin-top: 70px;
}
