<div class="container-fluid px-0">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="start-application">
              <div class="progress mb-4" style="height: 15px">
                <div class="progress-bar" role="progressbar"
                    style="width: 0%" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
              
                
                <div class="row roww">

                  <div class="col-lg-12 col-md-12 col-sm-12 ">
                      <div class="img-applic-content">
                          <div class="step2_content w-100 pb-5" style="background: #e8faff;border-top-left-radius:20px;border-top-right-radius:20px;">
                          
                             <div class="step_1_de">
                              <h1>How does this application work?</h1>
                             </div>
                             <div class="row justify-content-center">
                              <div class="col-lg-10">
                                <div class="row align-items-center">
                                  <div class="col-lg-7 col-md-12">
                                    <div
                                      class="">
                                      <div class="d-flex align-items-center my-3">
                                      <div class="rect">
                                          <i class="fa-solid fa-check"></i>
                                      </div>
                                           <h5 class="step2_h5"> Answer 6 questions to determine
                                            eligibility</h5>
                                      </div>
                                      <div
                                      class="d-flex align-items-center">
                                      <div class="rect">
                                          <i class="fa-solid fa-check"></i>
                                      </div>
                                      <h5 class="step2_h5"> 
                                              See if you are pre-qualified for up
                                              to <span style="color:rgba(229, 3, 0, 1)">$32,220.00</span> 
                                      </h5>
                                      </div>
                                      </ul>
                                   </div>
                                  </div>               
                                
                                
                                <div class="col-lg-5">
                                  <div class="step_immg">
                                    <img src="./images/Frame.png" alt="">
                                  </div>
                                </div>
                               </div>
                              </div>
                             </div>
                                
                          </div>
                          <div class="step2_content mt-5 w-100">
                            <div class="text-center d-flex justify-content-center">
                              <h1 class="mb-3 text-center" style="border-bottom: 4px solid #ff0404;
                              width: fit-content;">What if I am pre-qualified?</h1>
                            </div>
                            <div class="row justify-content-center mt-md-5 mt-sm-3">
                              <div class="col-lg-10">
                                <div class="row align-items-center">
                                  <div class="col-lg-7">
                                 
                                      <div class="">
                                      
                                        <div class="d-flex align-items-center w-100">
                                          <div class="rect" style="color: rgba(229, 3, 0, 1); border-color:rgba(229, 3, 0, 1)"">
                                              <i class="fa-solid fa-check"></i>
                                          </div>
                                          <h5 class="step2_h5">
                                              Continue the application by
                                                answering 7 additional questions.
                                          </h5>
                                        </div>

                                        <div class="d-flex align-items-center w-100">
                                          <div class="rect" style="color: rgba(229, 3, 0, 1); border-color:rgba(229, 3, 0, 1)"">
                                              <i class="fa-solid fa-check"></i>
                                          </div>
                                              <h5 class="step2_h5">Upload necesary documents</h5>
                                        </div>
                                        <div class="d-flex align-items-center w-100">
                                          <div class="rect" style="color: rgba(229, 3, 0, 1); border-color:rgba(229, 3, 0, 1)"">
                                              <i class="fa-solid fa-check"></i>
                                          </div>      
                                              <h5 class="step2_h5">receive a calculated refund amount
                                              </h5>
                                        </div>
                                        <div class="d-flex align-items-center w-100">
                                          <div class="rect" style="color: rgba(229, 3, 0, 1); border-color:rgba(229, 3, 0, 1)">
                                              <i class="fa-solid fa-check"></i>
                                          </div>
                                              <h5 class="step2_h5">
                                                Our professinal Team will process
                                                and file your return
                                              </h5>
                                        </div>
                                
                                      </div>
                                  </div>
                                  <div class="col-lg-5">
                                    <div class="step_immg">
                                    <img src="./images/Qust_mark.png" alt="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>    
                          </div>
                            <div class="step2_content my-5 pb-5" style="background: #e8faff;border-top-left-radius:20px;border-top-right-radius:20px;">
                                <div class="step_1_des">
                                  <h1>What documents will be needed?</h1>
                                </div>
                                  <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                      <div>
                                        <p class="mb-3 pp3" style="width: 100%;margin:auto;">No Documents will be needed for
                                          the pre-qualification questionaire.
                                          If you are pre-qualified and decide to move
                                          forward to determine
                                          calculation, you will need the following
                                          documents:</p>
                                      </div>
                                      <div class="row align-items-center">
                                        <div class="col-lg-7">
                                          

                                          <div class="d-flex align-items-center w-100 mt-3">
                                              <div class="rect">
                                                  <i class="fa-solid fa-check"></i>
                                              </div>
                                              <p class="p2">2019 Schedule C (Form 1040)
                                                  <span style="color: red;">Click For
                                                      Example</span></p>
                                          </div>
                                          <div
                                              class="d-flex align-items-center w-100 mt-3">
                                              <div class="rect">
                                                  <i class="fa-solid fa-check"></i>
                                              </div>
                                              <p class="p2">2019 Schedule C (Form 1040)
                                                  <span style="color: red;">Click For
                                                      Example</span></p>
                                          </div>
                                          <div class="d-flex align-items-center w-100 mt-3">
                                            <div class="rect">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                             <p class="p2">2019 Schedule C (Form 1040)
                                                <span style="color: red;">Click For
                                                    Example</span>
                                              </p>
                                        </div>
                                      </div>  
                                        <div class="col-lg-5">
                                          <div class="step_immg">
                                            <img src="./images/Tax_set.png" alt="">
                                          </div>
                                        </div>
                                     
                                    </div>
                                      
                                  </div>
                              </div>
                                
                            </div>    
                                
                        
                             

                          <div class="d-flex justify-content-center mt-3 w-100">
                              <button type="button" class="btn btn-primary prev-step">
                                Previous
                              </button> 
                              <button type="button"
                                  class="btn btn-primary next-step step2_next">
                                  Pre-Qualification Questionaire
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>